<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated IORM -->
      <package
            uri="http://iorm/1.0"
            class="org.framed.iorm.model.OrmPackage"
            genModel="model/IORM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated IORM -->
      <package
            uri="http://iorm.featuremodel/1.0"
            class="org.framed.iorm.featuremodel.FeaturemodelPackage"
            genModel="model/IORM.genmodel"/>
   </extension>
</plugin>
